einops==0.4.0
matplotlib==3.7.0
numpy==1.26.4
pandas==2.1.4
patool==1.12
reformer-pytorch==1.4.4
scikit-learn
scipy
sktime
sympy
tqdm==4.64.1
torch==2.6.0
transformers
accelerate
sentencepiece
protobuf
pexpect
jupytext
jupyter
requests
notebook
